.button{
  width: 100%;
  background: var(--accent);
  color: var(--bg);
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}